<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        {{!-- post id and title --}}
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      {{!-- user and date --}}
      <div>
        Posted by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    {{!-- body --}}
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>